{% extends "base.html" %}
{% load i18n blog_tags %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/blog.css">
{% endblock %}
{% block content %}
<div class="blog-main">
	{% for blog in blogs %}
	<div class="blog">
		<h1 class="blog-title"><a href="{{ blog.get_absolute_url }}">{{ blog.title }}</a></h1>
		<div class="blog-info">
			<span class="blog-time"> <a href="">{{ blog.publish_time }}</a> </span>
			<span class="blog-comment"><a href="">{% trans "评论" %}({% blog_comments blog %})</a></span>
		</div>
		{% autoescape off %}
		<div class="blog-content">
			<span>{{ blog.summary }}</span>
			<span><strong>.....</strong></span>
			<a class="blog-more" href="{{ blog.get_absolute_url }}">{% trans "阅读全文" %}<span>-></span></a>
			<div class="clear"></div>
		</div>
	</div>
	{% endautoescape %}
	{% endfor %}
</div>
{% endblock %}