.blog {
}

.blog-title {
	border-bottom: 1px solid #cce7fa;
	font-size: 24px;
}

.blog-info {
	font-size: 12px;
}

.blog-time {
	padding: 0 8px 0 0
}

.blog-content {
	word-break: break-all;
	line-height: 23px;
}

.blog-more {
	float: right;
	padding: 0 6px;
	text-shadow: 0 1px 1px white;
}

.clear {
	clear: both;
}
