.tweet-list {
	width: 50%;
	float: left;
}

.tweet-list ul {
	width: 100%;
	list-style: none;
	float: left;
}

.tweet-list li {
	border-bottom: 1px solid #cccccc;
	padding-bottom: 5px;
}

.tweet-content {
	font-size: 1.2em;
	padding-top: 10px;
}

.tweet-publish-time {
	dispaly: block;
	font-size: 0.8em;
	color: #49976b;
}

.tweet-handle {
	float: right;
	font-size: 0.8em;
	color: #49976b;
}

.tweet-handle a {
	color: #49976b;
}
