.tweet-list {
}
#tweet-input-area {
    height: 80px;
    width: 100%;
    font-size: 200%;
}

#tweet-send-button {
    float: right;
    width: 80px;
    height: 50px;
    font-size: 150%;
}

#tweets{
    width: 100%;
    list-style: none;
    float: left;
}