{% extends "base.html" %}
{% load comment_tags %}
{% block head %}
<title>相册</title>
{% endblock %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css" />
{% endblock %}

{% block extra_js %}
<!-- load jQuery -->
<script src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
<!-- load Galleria -->
<script src="{{ STATIC_URL }}js/galleria-1.2.9.min.js"></script>
{% endblock %}
{% block content %}
<div align="center" class="gallery-nav">
	<ul >
		{% for gallery in galleries %}
		<li>
			<a class="gallery-cover" href="gallery/{{ page }}/{{ gallery.name }}"> <img id="gallery-image" src="{{ gallery.cover.url }}"/>
			<p>
				{{ gallery.name }}
			</p> </a>
		</li>
		{% endfor %}
	</ul>
	<div class="gallery-page">
		<a id="gallery-pre" href="gallery/{{ prePage }}">上一页</a>
		<a id="gallery-next" href="gallery/{{ nextPage }}">下一页</a>
	</div>
</div>
<div class="gallery">
	<div id="galleria">
		{% for image in images %}
		<a href="{{ image.path.url }}"> <img src="{{ image.get_thumbnail_url }}" /> </a>
		{% endfor %}
	</div>
</div>

<div class="gallery-comment">
	{% comments_for %}
</div>

<script>
    // Load the classic theme
    Galleria.loadTheme('{{ STATIC_URL }}js/galleria.classic.min.js');
    // Initialize Galleria
    Galleria.run('#galleria'); 
</script>
{% endblock %}
