{% extends "base.html" %}
{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/gallery.css" />
{% endblock %}
{% block extra_js %}
<!-- load jQuery -->
<script src="{{ STATIC_URL }}js/jquery-1.8.3.js"></script>
<!-- load Galleria -->
<script src="{{ STATIC_URL }}js/galleria-1.2.9.min.js"></script>
{% endblock %}
{% block content %}
<div class="gallery-nav">
    <ul >
        {% for gallery in galleries %}
        <li>
            <a href="gallery/{{ page }}/{{ gallery.name }}"> <img id="gallery-image" src="{{ MEDIA_URL }}{{ gallery.cover }}"/> </a>
        </li>
        {% endfor %}
    </ul>
    <div >
        <a href="gallery/{{ prePage }}"> <img id="gallery-nav-pre" src="{{ STATIC_URL }}images/previous.png" /> </a>
        <a href="gallery/{{ nextPage }}"> <img id="gallery-nav-next" src="{{ STATIC_URL }}images/next.png" /> </a>
    </div>
</div>
<div class="gallery">
    <div id="galleria">
        {% for image in images %}
        <a> <img src="{{ MEDIA_URL }}{{ image.path}}" /> </a>
        {% endfor %}
    </div>
</div>
<script>
    // Load the classic theme
    Galleria.loadTheme('{{ STATIC_URL }}js/galleria.classic.min.js');
    // Initialize Galleria
    Galleria.run('#galleria'); 
</script>
{% endblock %}
