{% extends "base.html" %}
{% block extra_css %}
<link href=" {{ STATIC_URL }}css/tweet.css" type="text/css" rel="stylesheet" />
{% endblock %}
{% block content %}
<div class="input">
    <textarea id="tweet-input-area" rows="5">
</textarea>
</div>
<div class="tweet-send">
    <button id="tweet-send-button" type="submit">
        发布
    </button>
</div>
<div class="tweet-list">
    <ul id="tweets">
        <li>
            1
        </li>
        <li>
            1
        </li>
        <li>
            1
        </li>
    </ul>
</div>
{% endblock %}